[anonymous-telemetry]
enabled = false

[GLOBAL]
pants_version = "2.18.1"
concurrent = true

backend_packages = [
  "pants.backend.python",
  "pants.backend.python.lint.docformatter",
  "pants.backend.python.lint.black",
  "pants.backend.python.lint.flake8",
  "pants.backend.python.lint.isort",
]

[source]
root_patterns = [
  "/",
]

[python-bootstrap]
search_path = [
  "/opt/hostedtoolcache/Python/3.10.6/x64/bin",
  "/opt/homebrew/bin",
  "/usr/local/bin",
  "/usr/bin",
]

[python]
interpreter_constraints = [">=3.7"]
enable_resolves = true

[python.resolves]
  sympy_req = "3rdparty/python/sympy.lock"
  python-default = "3rdparty/python/default.lock"
  isort = "3rdparty/python/isort.lock"

[isort]
args = ["--profile black", "--order-by-type"]
install_from_resolve = "isort"
